@model OAuthDemo.Models.Demo

@{
    ViewBag.Title = "Authenticating API Requests With OAuth 2.0";
    ViewBag.Message = "Use the fields below to complete the authentication demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Step 1. Registering Your Application</h4>

@using (Html.BeginForm("RegisterApplication", "Demo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly", Value = Model.Id })
        </div>
        @Html.LabelFor(m => m.Secret, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Secret, new { @class = "form-control", @readonly = "readonly", Value = Model.Secret })
        </div>
    </div>
    <div class="form-group">
        @*<div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Next" />
            </div>*@
    </div>
}


<h4>Step 2. Redirecting the Merchant</h4>
@using (Html.BeginForm("RedirectMerchant", "Demo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly", Value = Model.Id })
        </div>
        @Html.LabelFor(m => m.RedirectUri, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RedirectUri, new { @class = "form-control", @readonly = "readonly", Value = Model.RedirectUri })
        </div>
        @Html.LabelFor(m => m.Scope, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Scope, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Sub, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sub, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p>Response:</p>
        @Html.TextArea("Step2Response", null, new { cols = "55", rows = "10" })
    </div>
</div>

@*<div class="col-md-10">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })

        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
    </div>*@

<h4>Step 3. Retrieving the Access Token</h4>
@using (Html.BeginForm("RetrieveAccessToken", "Demo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.GrantType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GrantType, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly", Value = Model.Id })
        </div>
        @Html.LabelFor(m => m.Secret, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Secret, new { @class = "form-control", @readonly = "readonly", Value = Model.Secret })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p>Response:</p>
        @Html.TextArea("Step3Response", null, new { cols = "55", rows = "10" })
    </div>
</div>


<h4>Step 4. Submitting API Requests</h4>
<p>???????????</p>

<h4>Step 5. Refreshing the Access Token</h4>
@using (Html.BeginForm("RefreshAccessToken", "Demo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly", Value = Model.Id })
        </div>
        @Html.LabelFor(m => m.GrantType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.GrantType, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.RefreshToken, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RefreshToken, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Next" />
        </div>
    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p>Response:</p>
        @Html.TextArea("Step5Response", null, new { cols = "55", rows = "10" })
    </div>
</div>
